@import '../../node_modules/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap');

*, *:after, *:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

